/* Header */
.bg-header {
    background-color: rgb(78, 160, 255);
    background-image: url('../img/pattern.png');
    background-repeat: cover;
    background-size:20%;
}
.logo{
    width: 15%;
    margin-top: 3%;
    margin-left: 2%;
}
/* main */
.titolo-articolo {
    font-weight: 900;
    font-size: 27px;
}
.the-booleaner-link {
    text-decoration: none;
    font-weight: 300;
    color: rgb(78, 160, 255);
}
.author {
    margin-top: 0px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-size: 15px;
}
time {
    font-size: 10px;
    margin: 0;
    padding: 0;
}
figcaption {
    font-size: 10px;
}
.highlight {
    background-color: rgb(255, 255, 0);
   font-weight: 400;
}
.unordered-list {
   padding-inline-start: 0;
   margin-left: 0;
}
table {
    border-collapse: collapse;
}
thead {
    background-color:rgb(32, 169, 229) ;
    color: white;
}
th {
    width: 25%;
}
.bg-table {
   background-color: rgb(177, 229, 242);
}
/* Footer */
.title-footer {
    color: rgb(128, 128, 128); ;
}
.footer-img {
width: 20%;
}
.img-text {
    font-size: 20px;
    position: absolute; /* Posizione assoluta per il testo */
    color: white; /* Colore del testo */
   margin-top: 10px;
   margin-left: 7px;
   text-decoration: solid;
   font-weight: bold;
}